/.TransitionAppearance.java._trace
/.TerminationTransitionAppearance.java._trace
/.StrongAbortTransitionAppearance.java._trace
/.DeferredTransitionAppearance.java._trace
/.InitialStateAppearance.java._trace
