/.ActionEvent.java._trace
/.DeclarationEvent.java._trace
/.InitilalSuperStateEvent.java._trace
/.RegionEvent.java._trace
/.RootStateEvent.java._trace
/.SCChartEvent.java._trace
/.SuperStateEvent.java._trace
/.SuspendEvent.java._trace
/.DeclarationEvent.xtendbin
/DeclarationEvent.java
/.SCChartRefereceEvent.java._trace
